body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

nav>button>img {
  width: 40px;
  height: 20px;
}

nav>button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

nav>a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

nav>button>span {
  padding-bottom: 10px;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.home-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding: 20px;
  border: 1px solid #f1eded;
  border-radius: 5px;
  text-align: center;
  background-color: #F2F2F2;
  width: 200px;
  height: 300px;
  transition: all 0.3s ease-in-out;
}

.home-card:hover {
  color: #666;
  transform: scale(1.05);
}

.home-card a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.home>a {
  text-decoration: none;
  color: black;
}

.home>a>span {
  color: black;
}

/* Learn card css */
.learn-card {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.learn-card__number {
  font-size: 18px;
  font-weight: bold;
}

.learn-card__question,
.learn-card__answer {
  font-size: 16px;
  font-weight: bold;
}

.learn-card__question-text,
.learn-card__answer-text {
  font-size: 14px;
  display: inline-block;
}

.learn-card__question-section {
  margin-bottom: 30px;
}

.learn-card__image {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

/* FullTestPage.css */
.full-test-page {
  margin-top: 100px;
}

.full-test-page__submit-btn {
  background-color: #4CAF50;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.full-test-page__submit-btn:hover {
  background-color: #45a049;
}

/* FullTestPageCard.css for (russian and english version */
.full-test-page-card {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.full-test-page-card__number {
  font-size: 18px;
  font-weight: bold;
}

.full-test-page-card__content {
  margin-top: 20px;
}

.full-test-page-card__image {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.full-test-page-card__question {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
  font-weight: bold;
}

.full-test-page-card__answers label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
}

.full-test-page-card__answers input[type="radio"] {
  margin-right: 10px;
}

.full-test-page-card__result {
  font-size: 14px;
  margin-top: 10px;
}

.full-test-page-card__result-correct {
  color: #038003;
}

.full-test-page-card__result-incorrect {
  color: #FF0000;
}

.full-test-page-card__answer-image {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.full-test-page-card__correct-answer-image {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}