.full-test-page-card {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.full-test-page-card__number {
  font-size: 18px;
  font-weight: bold;
}

.full-test-page-card__content {
  margin-top: 20px;
}

.full-test-page-card__image {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.full-test-page-card__question {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.full-test-page-card__answers label {
  display: block;
  margin-bottom: 10px;
}

.full-test-page-card__answers input[type="radio"] {
  margin-right: 10px;
}

.full-test-page-card__result {
  font-size: 14px;
  margin-top: 10px;
}

.full-test-page-card__result-correct {
  color: #038003;
}

.full-test-page-card__result-incorrect {
  color: #FF0000;
}